anyio==3.3.2
argon2-cffi==21.1.0
asgiref==3.3.4
atomicwrites==1.4.0
attrs==21.2.0
Automat==20.2.0
awscli==1.22.5
Babel==2.9.1
backcall==0.2.0
backports.entry-points-selectable==1.1.0
beautifulsoup4==4.10.0
bleach==4.1.0
botocore==1.23.5
bs4==0.0.1
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
charset-normalizer==2.0.6
click==8.0.3
cloudpickle==2.0.0
colorama==0.4.3
configparser==5.0.2
constantly==15.1.0
coverage==5.5
coveralls==3.2.0
cryptography==3.4.6
cycler==0.10.0
debugpy==1.4.3
decorator==5.1.0
defusedxml==0.7.1
distlib==0.3.2
Django==3.2
docopt==0.6.2
docutils==0.15.2
entrypoints==0.3
et-xmlfile==1.1.0
filelock==3.0.12
future==0.18.2
genson==1.2.2
greenlet==1.1.1
hdbcli==2.10.15
html2text==2020.1.16
hyperlink==21.0.0
hypothesis==6.23.2
idna==2.10
incremental==21.3.0
iniconfig==1.1.1
ipykernel==6.4.1
ipython==7.28.0
ipython-genutils==0.2.0
ipywidgets==7.6.5
jedi==0.18.0
Jinja2==3.0.1
jmespath==0.10.0
joblib==1.1.0
json5==0.9.6
jsonschema==4.0.1
jupyter-client==7.0.5
jupyter-core==4.8.1
jupyter-server==1.11.0
jupyterlab==3.1.14
jupyterlab-pygments==0.1.2
jupyterlab-server==2.8.2
jupyterlab-widgets==1.0.2
kiwisolver==1.3.2
MarkupSafe==2.0.1
matplotlib==3.4.3
matplotlib-inline==0.1.3
mistune==0.8.4
mock==4.0.3
msal==1.10.0
mysql==0.0.3
mysql-connector==2.2.9
mysql-connector-python==8.0.27
mysqlclient==2.0.3
nbclassic==0.3.2
nbclient==0.5.4
nbconvert==6.2.0
nbformat==5.1.3
nest-asyncio==1.5.1
nltk==3.6.5
notebook==6.4.4
numpy==1.21.2
openpyxl==3.0.9
packaging==21.0
pandas==1.3.3
pandocfilters==1.5.0
parso==0.8.2
pickleshare==0.7.5
Pillow==8.3.2
platformdirs==2.2.0
pluggy==1.0.0
prometheus-client==0.11.0
prompt-toolkit==3.0.20
psycopg2==2.9.1
py==1.10.0
pyasn1==0.4.8
pycparser==2.20
Pygments==2.10.0
PyJWT==2.0.1
pyodbc==4.0.32
pyOpenSSL==21.0.0
pyparsing==2.4.7
pyrsistent==0.18.0
pytest==6.2.5
pytest-cov==3.0.0
python-dateutil==2.8.1
pytz==2021.1
pywin32==301
pywinpty==1.1.4
PyYAML==5.4.1
pyzmq==22.3.0
regex==2021.10.8
requests==2.25.1
requests-unixsocket==0.2.0
rsa==4.7.2
s3transfer==0.5.0
scikit-learn==1.0
scipy==1.7.1
seaborn==0.11.2
Send2Trash==1.8.0
simplejson==3.17.5
six==1.15.0
sklearn==0.0
sniffio==1.2.0
sortedcontainers==2.4.0
soupsieve==2.2.1
SQLAlchemy==1.4.23
sqlparse==0.4.1
tabpy==2.4.0
terminado==0.12.1
testpath==0.5.0
textblob==0.15.3
threadpoolctl==3.0.0
tk==0.1.0
toml==0.10.2
tornado==6.1
tqdm==4.62.3
traitlets==5.1.0
Twisted==21.7.0
twisted-iocpsupport==1.0.2
typing-extensions==3.10.0.2
urllib3==1.26.4
virtualenv==20.7.2
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.2.1
widgetsnbextension==3.5.1
zope.interface==5.4.0
